@model ShoppingApp.Web.UI.Areas.Admin.ViewModels.CategoryViewModels.CreateCategoryViewModel


@section Scripts{
    <script src="/scripts/sluggenerator.js"></script>
    <script>$('#SelectedParentCategoryId').select2({
            placeholder: "Select parent"
        });
        $(document).ready(function () {
            var title = $(".name");
            var slug = $(".slug");
            title.keyup(function () {
                var str = title.val();
                slug.val(url_slug(str));
            })
        });</script>

}
<div class="card card-custom">
    <div class="card-header">
        <h3 class="card-title">
            Category Create
        </h3>
    </div>
    <!--begin::Form-->
    <form class="form" method="post">
        <div class="card-body">
            <div asp-validation-summary="All"></div>
            <div class="form-group row">
                <label class="col-form-label text-right col-lg-3 col-sm-12" asp-for="CategoryName"></label>
                <div class=" col-lg-4 col-md-9 col-sm-12">
                    <input class="form-control form-control-solid name" asp-for="CategoryName" placeholder="Category Name" />
                    <span asp-validation-for="CategoryName"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label text-right col-lg-3 col-sm-12" asp-for="CategorySlug"></label>
                <div class=" col-lg-4 col-md-9 col-sm-12">
                    <input class="form-control form-control-solid slug" asp-for="CategorySlug" placeholder="Category Slug" />
                    <span asp-validation-for="CategorySlug"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label text-right col-lg-3 col-sm-12" asp-for="SelectedParentCategoryId"></label>
                <div class=" col-lg-4 col-md-9 col-sm-12">
                    <select class="form-control" asp-for="SelectedParentCategoryId" asp-items="Model.Categories">
                        <option>-- None --</option>
                    </select>
                    <span asp-validation-for="SelectedParentCategoryId"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</div>