@model ShoppingApp.Web.UI.Areas.Shop.ViewModels.CreateProductViewModel
@section Styles{
    <link href="/shopuifiles/assets/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css" />

    <!-- bootstrap 4.x is supported. You can also use the bootstrap css 3.3.x versions -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
    <!-- link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput-rtl.min.css" media="all" rel="stylesheet" type="text/css" /-->
    <!-- the font awesome icon library if using with `fas` theme (or Bootstrap 4.x). Note that default icons used in the plugin are glyphicons that are bundled only with Bootstrap 3.x. -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you
        wish to resize images before upload. This must be loaded before fileinput.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/piexif.min.js" type="text/javascript"></script>
    <!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview.
        This must be loaded before fileinput.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/plugins/sortable.min.js" type="text/javascript"></script>
    <!-- popper.min.js below is needed if you use bootstrap 4.x (for popover and tooltips). You can also use the bootstrap js
       3.3.x versions without popper.min.js. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- bootstrap.min.js below is needed if you wish to zoom and preview file content in a detail modal
        dialog. bootstrap 4.x is supported. You can also use the bootstrap js 3.3.x versions. -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- the main fileinput plugin file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
    <!-- following theme script is needed to use the Font Awesome 5.x theme (`fas`) -->
    < script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/themes/fas/theme.min.js"></script -->
    <!-- optionally if you need translation for your language then include the locale file as mentioned below (replace LANG.js with your language locale) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/locales/az.js"></script>
}
@section Scripts{
    <script src="/scripts/sluggenerator.js"></script>
    <script src="/shopuifiles/assets/js/pages/custom/wizard/wizard-1.js"></script>
    <script>var textarea = $('#productdescription');
        autosize(textarea);
        autosize.update(textarea);</script>

    <script>$(document).ready(function () {
            var title = $(".name");
            var slug = $(".slug");
            title.keyup(function () {
                var str = title.val();
                slug.val(url_slug(str));
            })
        });</script>

    <script>$('#kt_repeater_Size').repeater({
            initEmpty: false,

            defaultValues: {
                'text-input': 'foo'
            },

            show: function () {
                $('.select_color').select2({
                    placeholder: "Select a state",
                    multiple: true
                });
                $(this).slideDown();
            },

            hide: function (deleteElement) {
                $(this).slideUp(deleteElement);
            }
        });
        $('.select_color').select2({
            placeholder: "Select a category",
            multiple: true
        });
        $('#SelectedCategoryId').select2({
            placeholder: "Select a state"
        });</script>
    <script>var input = document.getElementById('kt_tagify_6');
        var tagify = new Tagify(input, {
            pattern: /^.{0,20}$/,
            delimiters: " ", // add new tags when a comma or a space character is entered,
            keepInvalidTags: false,
            transformTag: transformTag,
            dropdown: {
                enabled: 3,
            }
        });

        function transformTag(tagData) {
            var states = [
                'success',
                'primary',
                'danger',
                'success',
                'warning',
                'primary',
                'info'
            ];
            tagData.class = 'tagify__tag tagify__tag-light--' + states[KTUtil.getRandomInt(0, 6)];
        }

        tagify.on('add', function (e) {

        });

        tagify.on('invalid', function (e) {

        });
        tagify.on('change', function () {
            $('#Tags').empty();
            $.each(tagify.value, function (index, val) {
                $('#Tags').append('<option selected="true" value="' + val.value + '"></option>');
            });

        });</script>
}
<div class="card card-custom">
    <div class="card-body p-0">
        <!--begin::Wizard-->
        <div class="wizard wizard-1" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="false">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav border-bottom">
                <div class="wizard-steps p-8 p-lg-10">
                    <!--begin::Wizard Step 1 Nav-->
                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                        <div class="wizard-label">
                            <i class="wizard-icon flaticon-open-box"></i>
                            <h3 class="wizard-title">1. Add Product</h3>
                        </div>
                        <span class="svg-icon svg-icon-xl wizard-arrow">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                                    <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                    <!--end::Wizard Step 1 Nav-->
                    <!--begin::Wizard Step 2 Nav-->
                    <div class="wizard-step" data-wizard-type="step">
                        <div class="wizard-label">
                            <i class="wizard-icon flaticon-list"></i>
                            <h3 class="wizard-title">2. Enter Details</h3>
                        </div>
                        <span class="svg-icon svg-icon-xl wizard-arrow">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1" />
                                    <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                </g>
                            </svg>
                            <!--end::Svg Icon-->
                        </span>
                    </div>
                    <!--end::Wizard Step 2 Nav-->
                    <!--begin::Wizard Step 3 Nav-->
                    <div class="wizard-step" data-wizard-type="step">
                        <div class="wizard-label">
                            <i class="wizard-icon flaticon2-image-file"></i>
                            <h3 class="wizard-title">3. Add Image</h3>
                        </div>
                    </div>
                    <!--end::Wizard Step 3 Nav-->
                </div>
            </div>
            <!--end::Wizard Nav-->
            <!--begin::Wizard Body-->
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                <div class="col-xl-12 col-xxl-7">
                    <!--begin::Wizard Form-->
                    <form class="form" id="createproductform" method="post" enctype="multipart/form-data">
                        <!--begin::Wizard Step 1-->
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            <div asp-validation-summary="ModelOnly"></div>
                            <!--begin::Input-->
                            <div class="form-group">
                                <label asp-for="ProductTitle"></label>
                                <input asp-for="ProductTitle" type="text" class="form-control form-control-solid form-control-lg name" />
                                <span asp-validation-for="ProductTitle" class="form-text text-muted"></span>
                            </div>
                            <!--end::Input-->
                            <!--begin::Input-->
                            <div class="form-group">
                                <label asp-for="ProductSlug"></label>
                                <input asp-for="ProductSlug" type="text" class="form-control form-control-solid form-control-lg slug" />
                                <span asp-validation-for="ProductTitle" class="form-text text-muted"></span>
                            </div>
                            <!--end::Input-->
                            <!--begin::Input-->
                            <div class="form-group">
                                <label asp-for="ProductDescription"></label>
                                <textarea id="productdescription" asp-for="ProductDescription" type="text" class="form-control form-control-solid form-control-lg"></textarea>
                                <span class="form-text text-muted" asp-validation-for="ProductDescription"></span>
                            </div>
                            <!--end::Input-->
                            <!--begin::Input-->
                            <div class="form-group">
                                <label asp-for="Tags"></label>
                                <input id="kt_tagify_6" class="form-control" placeholder='Tags' />
                                <select asp-for="Tags" hidden></select>
                                <span class="form-text text-muted" asp-validation-for="Tags"></span>
                            </div>
                            <!--end::Input-->
                        </div>
                        <!--end::Wizard Step 1-->
                        <!--begin::Wizard Step 2-->
                        <div class="pb-5" data-wizard-type="step-content">
                            <div asp-validation-summary="ModelOnly"></div>
                            <!--begin::Input-->
                            <div class="form-group">
                                <label asp-for="SelectedCategoryId"></label>
                                <select class="form-control select2" asp-for="SelectedCategoryId" asp-items="Model.Categories"></select>
                                <span class="form-text text-muted" asp-validation-for="SelectedCategoryId"></span>
                            </div>
                            <!--end::Input-->
                            <div id="kt_repeater_Size">
                                <div class="column">
                                    <div data-repeater-list="Sizes">
                                        <div data-repeater-item="Size" class="row justify-content-between">
                                            <div class="form-group col-lg-2">
                                                <label>Size</label>
                                                <input name="Size" type="text" class="form-control" placeholder="Size" />
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="form-group col-lg-2">
                                                <label>Price</label>
                                                <input name="Price" type="number" class="form-control" placeholder="Price" />
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="form-group col-lg-2">
                                                <label>Sale Price</label>
                                                <input name="DiscountedPrice" type="number" class="form-control" placeholder="Sale Price" />
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="form-group col-lg-2">
                                                <label>Stock Quantity</label>
                                                <input name="StockQuantity" type="number" class="form-control" placeholder="Sale Price" />
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="form-group col-lg-3">
                                                <label>Color</label>
                                                <div style="width:100%;">
                                                    <select style="width:100%;" multiple name="SelectedColorIds" asp-items="Model.Colors" class="form-control select2 select_color"></select>
                                                </div>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                            <div class="form-group col-lg-1">
                                                <label style="color:transparent">sa </label>
                                                <a href="javascript:;" data-repeater-delete="Size" class="btn font-weight-bold btn-danger btn-icon">
                                                    <i class="la la-trash-o"></i>
                                                </a>
                                                <div class="d-md-none mb-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group column">
                                    <label class="col-lg-2 col-form-label text-right"></label>
                                    <div class="col-lg-4">
                                        <a href="javascript:;" data-repeater-create="Size" class="btn btn-sm font-weight-bolder btn-light-primary">
                                            <i class="la la-plus"></i>Add
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Wizard Step 2-->
                        <!--begin::Wizard Step 3-->
                        <div class="pb-5" data-wizard-type="step-content">
                            <div asp-validation-summary="ModelOnly"></div>
                            <input id="input-b3" asp-for="Images" type="file" class="file" multiple
                                   data-show-upload="false" data-browse-on-zone-click="true" data-show-caption="true"
                                   accept="image/*" data-show-zoom="false" />
                            @*<div class="form-group row">
                                    <label class="col-lg-2 col-form-label text-right"></label>
                                    <div class="custom-file">
                                        <input asp-for="Images" multiple type="file" class="custom-file-input" id="customFile" />
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>*@
                        </div>
                        <!--end::Wizard Step 3-->
                        <!--begin::Wizard Actions-->
                        <div class="d-flex justify-content-between border-top mt-5 pt-10">
                            <div class="mr-2">
                                <button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-prev">Previous</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-submit">Submit</button>
                                <button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-next">Next</button>
                            </div>
                        </div>
                        <!--end::Wizard Actions-->
                    </form>
                    <!--end::Wizard Form-->
                </div>
            </div>
            <!--end::Wizard Body-->
        </div>
        <!--end::Wizard-->
    </div>
    <!--end::Wizard-->
</div>
